<!--Vista de la segunda noticia de la web-->

<div ng-controller="NoticiasCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="margin-left:3em;margin-right:3em">
                        <img alt="" src="images/escudo.png" style="width:15%" class="pull-left">
                        <span class="todasNoticias pull-right"> <a  href="#noticias"><< Volver a noticias</a></span>
                        <span class="titulosPortada">At. Blue vs BSG</span>
                        <br>
                        <medium style="font-family:courier,'new courier';margin-left:1em;" class="text-muted">10 diciembre, 2014</medium>
                        <hr class="separadorTitulos">
                        <p>Segundo partido de la jornada en el pabellón Santa Fe, se daban cita dos equipos con trayectorias muy diferentes. Por su parte BSG sigue confirmando su candidatura al título, mientras que Atleti Blue sigue buscando salir de los puestos bajos de la tabla.</p>

                        <p>Diversos motivos (lesiones, viajes, resacas) impedían que ambos equipos llegaran con todos sus efectivos al partido.</p>
                        
                        <p>El partido comenzó con dominio por parte del BSG y con un Atleti Blue que se defendía bien de las acometidas del conjunto rival, a la vez que intentaba cazar una contra o aprovechar un despiste en la defensa del BSG. Este dominio tardo en verse reflejado en el marcador hasta el final de la primera parte. Un balón de Gonzalo para Fer, disparo de éste desde la frontal del área y subía el primero al (inexistente) marcador del polideportivo.</p>
                        
                        <p>El segundo gol fue obra de Juanki, que controló de espaldas y se fue magistralmente de su marcador para encarar la meta Blue y poner el 0-2 justo antes del descanso.</p>
                        
                        <p>La tónica de la segunda parte fue similar a la de la primera, un BSG que movía y movía la pelota y a sus jugadores, y un Atleti Blue al que le costaba mucho generar ocasiones para  inquietar al portero rival. Fruto del cansancio, se sucedieron los errores defensivos en el equipo Blue, y fueron cayendo goles hasta llegar al 0-7 final. Estos cinco goles fueron obra de Fer, Julbes, Javi Hidalgo, Alberto Soto y el portero Miguel Lozano, este último de penalti.</p>
                        
                        <p>La goleada pudo ser mayor, pero varias intervenciones de mérito de Migue, el cual tuvo una buena actuación a pesar del resultado, evitaron un marcador más abultado. También cabe destacar la gran deportividad de ambos equipos durante el partido.</p>
                        
                        <p>Por último felicitar al BSG, que hizo un partido muy serio ante el Atleti Blue y demuestran una gran competitividad hasta el pitido final, esa actitud y la calidad de sus jugadores les confirman como serios aspirantes al título.</p>
                        
                        <p>Y animar al Atleti Blue, que tras haber sumado sus primeros puntos en las tres jornadas anteriores, sufre un revés importante ante un equipo que fue claramente superior.</p>
                        
                        <p>Ignacio Estrade, Atleti Blue.</p>
                        
                        <img alt="" src="images/noticias/noticia2.jpg" style="width:60%">
                </div>
            </div>
            <!--/col-12-->
        </div>
</div>