<!--Vista de la sexta noticia de la web-->

<div ng-controller="NoticiasCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="margin-left:3em;margin-right:3em">
                        <img alt="" src="images/escudo.png" style="width:15%" class="pull-left">
                        <span class="todasNoticias pull-right"> <a  href="#noticias"><< Volver a noticias</a></span>
                        <span class="titulosPortada">Maccabilly 4 - 4 Atleti Blue</span>
                        <br>
                        <medium style="font-family:courier,'new courier';margin-left:1em;" class="text-muted">6 febrerp, 2015</medium>
                        <hr class="separadorTitulos">

                        <p>Último partido jugado del domingo 1 de febrero, hora agradecida para aquellos que todavía pueden usar las primeras horas de la mañana para recuperase de los excesos de la noche anterior y no tan conveniente para otros que años a tras no nos podíamos ni  imaginar que jugar a las 13:00 de un domingo nos fuera a parecer  tarde.</p>
                        <p>Equipos situados de media tabla para bajo y bastante igualados en puntos y juego, tal y como se reflejo en el resultado final del encuentro.</p>
                        <p>El partido comenzó con unos primeros minutos disputados y donde los dos conjuntos  abordaron con reservas y midiéndose,   no fue hasta pasada la mitad de la primera parte, cuando Iñaki consigue batir al portero Blue en una contra resuelta con  gran definición individual. Ya el marcador no se movería hasta final de la primera parte.</p>
                        <p>Tras el descaso, el partido tomo otro ritmo y el  Atleti  Blue dirigido desde atrás por un destacado Gonzalo Calbo  tomo  la iniciativa,  obligando a Maccabilly a esforzarse en defensa y realizar excesivas faltas , circunstancia que  a la larga resulto determinante.  Ya que cuando el partida parecía decantado para el equipo local a falta de pocos minutos, una mala salida de balón del Maccabilly la aprovecho el Atleti Blue para marcar, dando  alas al equipo Blue que apretó  y  logro empatar  con uno de los dobles penaltis que dispuso. Incluso pudiendo ganar en  un último tiro de castigo que erro en los instantes finales del encuentro.</p>
                        <p>En definitiva,  encuentro disputado e igualado que no dejo contento a ningunos de los dos equipos que se fueron con la sensación que se les había escapado la victoria.  Partido broco  para Padilla que tuvo que lidiar con momentos de tensión entre los dos equipo y tirar de experiencia y paciencia para explicarnos a algunos los jugadores ciertas reglas del futbol sala que teníamos olvidadas. Finalmente todo acabo con un apretón de manos entre los dos equipos y con la cordialidad que este torneo pretende.</p>
                        <p>Un saludo a todos y disculpar por el retraso en mandar la crónica</p>



                </div>
            </div>
            <!--/col-12-->
        </div>
</div>
