<div ng-controller="NoticiasCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="margin-left:3em;margin-right:3em">
                        <img alt="" src="images/escudo.png" style="width:15%" class="pull-left">
                        <span class="todasNoticias pull-right"> <a  href="#noticias"><< Volver a noticias</a></span>
                        <span class="titulosPortada">Gresquitas vs At. Blue</span>
                        <br>
                        <medium style="font-family:courier,'new courier';margin-left:1em;" class="text-muted">25 noviembre, 2014</medium>
                        <hr class="separadorTitulos">
                        <p>El segundo partido de la mañana del domingo se presentaba como un partido muy interesante. 5 puntos separaban a ambos conjuntos en la clasificación.</p>
                        <p> Ambos equipos presentaban importantes bajas. Por por parte del Atl. Blues, su portero Juanma, al que sus compañeros recordaron en la foto inicial. Asimismo,Los Greskitas también presentaban bajas sustanciales, como las de Álvaro y bola por lesión y Jaime por sanción.</p>
                        <p>La primera parte estuvo algo más dominada por Greskitas, que tocaron algo más el balón, pero Atl.Blues aprovechaba cada robo para lanzarse de manera vertiginosa hacia la porteria de Fernando, que una vez más, estuvo a un gran nivel.</p>
                        <p>El primer gol lo anotó Greskitas. Fue su jugador más goleador, Vidal, el que aprovechó una jugada de equipo para colar el balón en la porteria Blue.</p>
                        <p>El empate por parte de Atl. Blue vino en una jugada en la que Los Greskitas no realizaron correctamente el balance defensivo y Vargas, solo en el segundo palo, remató a la red un rechace de Fernando a un tiro inicial del equipo azul y blanco.</p>
                        <p>La segunda parte siguió muy igualada, hasta que Vidal, de nuevo, marcó un buen gol, al colar el balón por fuera de la barrera con un bonito efecto hacia adentro, una falta cometida por Atl Blue al borde del area.</p>
                            2 a 1 y Greskitas tomaba de nuevo ventaja en el marcador.</p>
                        <p>Posteriormente Sergio lograba de nuevo el empate para su equipo en una jugada colectiva.</p>
                        <p>Los ultimos 10 minutos del partido fueron los más alocados, pues ambos equipos se volcaron a por el tercer gol que les diera la victoria. Por parte de Los Greskitas, Juanito estrelló un balón “in the name of love” en el travesaño del Atl Blue, mientras que los albiazules tuvieron varias contras que no consiguieron materializar.</p>
                        <p>Sería en el ultimo minuto cuando se decidió el partido. Una contra a favor de Los Greskitas, cubierta de una manera expeditiva pero correcta por el portero Miguel Angel, dejó al cierre de Los Greskitas, Mauri Osorio, fuera del partido. Circustancia que fué aprovechada, en la jugada posterior, por Fran para poner el 3-2 definitivo en el ultimos suspiro de partido.</p>
                        <p>En definitiva, un partido igualado que podria haberse decantado para cualquier equipo y que se llevó el Atl. Blue. Mi más sincera enhorabuena.</p>
                        <p>Lo mejor: Partido intenso, disputado, pero con una gran deportividad.</p>
                        <p>Lo peor: La lesión de Reina. Desde Greskitas le deseamos una pronta recuperación.</p>
                        <p>Fdo: Javier Puyol, Los Greskitas</p>
                        
                        <img alt="" src="images/noticias/noticia1.jpg" style="width:60%">
                </div>
            </div>
            <!--/col-12-->
        </div>
</div>