<!--Vista de la quinta noticia de la web-->

<div ng-controller="NoticiasCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="margin-left:3em;margin-right:3em">
                        <img alt="" src="images/escudo.png" style="width:15%" class="pull-left">
                        <span class="todasNoticias pull-right"> <a  href="#noticias"><< Volver a noticias</a></span>
                        <span class="titulosPortada">At. Blue vs Naranja mecánica</span>
                        <br>
                        <medium style="font-family:courier,'new courier';margin-left:1em;" class="text-muted">14 enero, 2015</medium>
                        <hr class="separadorTitulos">
                        
                        <p>Partido con objetivos muy diferentes para cada equipo. La naranja mecánica aún en busca de los primeros puntos del campeonato, y el Atleti Blue muy ambicioso queriendo continuar con la dinámica positiva de los últimos encuentros.</p>
                        <p>El choque empezó como a priori se esperaba, con dominio blue, y no tardaron en llegar los goles, hasta que para el pitido de la primera mitad se llegó con un claro 6-0 para el equipo local.</p>
                        <p>La segunda parte empezó como la primera, ampliando el Atleti Blue la ventaja a 8-0, momento en el que algún jugador blue decidió tomarse un descanso, pero sobre el terreno de juego (no voy a señalar a nadie…), ocasión que aprovechó el equipo naranja para anotar el primero, y de paso, subir el ánimo de sus compañeros, que casi pedían la hora. La Naranja aprovechó su momento y anotó otros 2 goles y ponerse 8-3 en el marcador mientras sucedían los reproches de jugadores blues entre ellos. Pero estos últimos decidieron reaccionar y dominar de nuevo el encuentro para llegar al colocarse con el 12-3 final.</p>
                        <p>La anécdota del partido sucedió en la ultima jugada, cuando Padilla pitó un penalti para los locales que quiso lanzar Lalo, jugador Naranja hasta hace poco mas de un mes. El capitán en la mañana de ese domingo, Josemi Dominguez “Topo”, dió luz verde al lanzamiento del Ex-naranja….pero lo lanzó al palo….¿sin querer? nunca lo sabremos…</p>
                        <p>El Atleti por lo tanto se llevó los dos puntos que le permite colocarse séptimo empatado a puntos con el “imparable” modulo 3, arreglando así el nefasto inicio de temporada de los blanquiazules. Por otro lado, La naranja se quea en blanco en esta primera vuelta, pero empiezan la segunda con la misma iusión que la primera, convencidos de que llegará más de un punto a su casillero.</p>
                        <p>Javier Vargas</p>
                        <p>Atleti Blue de Santa Fe</p>

                        
                        <img alt="" src="images/noticias/noticia5.jpg" style="width:60%">
                </div>
            </div>
            <!--/col-12-->
        </div>
</div>