<div ng-controller="NoticiasCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading" style="margin-left:3em;margin-right:3em">
                        <img alt="" src="images/escudo.png" style="width:15%" class="pull-left">
                        <span class="todasNoticias pull-right"> <a  href="#noticias"><< Volver a noticias</a></span>
                        <span class="titulosPortada">Tofino vs At. Blue</span>
                        <br>
                        <medium style="font-family:courier,'new courier';margin-left:1em;" class="text-muted">9 enero, 2015</medium>
                        <hr class="separadorTitulos">
                        <p>Tercer partido de la primera jornada de 2015 en el pabellón de Santa Fé. Se enfrentaban dos equipos que tienen el mismo objetivo, salir de la parte baja de la clasificación.</p>
                        <p>Por parte del equipo local, Tofino, se presentaban gran parte del equipo pero echando de menos a su portero Germán y a su torre en defensa Gonzalo Romero. Por parte del equipo visitante, At. Blue, se presentaba con la baja de su portero titular, Juanma García Rowe, que desde aquí le deseo una rápida recuperación y su vuelta a los terrenos de juego.</p>
                        
                        <p>El partido comenzó sin un dominio claro del partido por ambos equipos, ya que parecía que el miedo a perder era mayor que las ansias por ganar, la primera escuadra que entró en el partido fue la que se llevó el partido, At. Blue.</p>
                        
                        <p>La primera parte fue un continuo acoso del equipo blanquiazul a la portería defendida espléndidamente por Luis Muñoz, el mejor de los jugadores locales, pero poco pudo hacer ante el disparo del jugador blue convirtiéndose en el primer gol del encuentro. 1 a 0 y final de la primera parte.</p>
                        
                        <p>La segunda parte empezó igual que acababa la primera, dominio visitante y los pocos balones que tenia el equipo local los estrellaba contra el portero suplente de los blue, al cual felicito porque sacó dos o tres tiros imposibles.</p>
                        <p>Los Blue pusieron tierra de por medio con un segundo gol anotado en una contra finalizada por Jaime García Rowe. Desde que el marcador reflejara el 0 a 2 el equipo Tofino tuvo sus mejores momentos, metiendo un gol de penalti a menos de 5 minutos del final, pero el milagro no llegó, consiguiendo la victoria el equipo blanquiazul.</p>
                        
                        <p>Felicitar a nuestros rivales y dar ánimos a mi equipo, la segunda vuelta va a ser nuestra.</p>
                        
                        <p>Un abrazo a todos y feliz año.</p>
                        <p>Pepe Delage.</p>
                        
                        <img alt="" src="images/noticias/noticia4.jpg" style="width:60%">
                </div>
            </div>
            <!--/col-12-->
        </div>
</div>