<!--Vista de la sección contacto de la web que estará controlada por ContactoCtrl-->

<div ng-controller="ContactoCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div>
                        <h3 id="contacto">¿Quieres saber más acerca de nosotros? ¿Quieres formar parte de nuestro equipo? ¡No dudes en ponerte en contacto con 
                            nosotros!</h3>
                        </div>
                        <br><br>
                        
                        <!--Formulario de consulta-->
                        <div>
                        <form name="miFormulario" class="form-horizontal" nonvalidate ng-submit="add(user)" onsubmit="this.reset()">
                
                            <div class="form-group">
                                <label class="control-label col-md-2">Nombre*:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Nombre" required ng-model="user.nombre">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Apellidos*:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="Apellidos" required ng-model="user.apellido">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2" >Teléfono:</label>
                                <div class="col-md-8">
                                    <input type="tel" class="form-control" placeholder="Teléfono" ng-minlength=9 ng-maxlength=9 ng-model="user.telefono">
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="control-label col-md-2" >E-mail*:</label>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" placeholder="E-mail" required ng-model="user.email">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-2">Comentario*:</label>
                                <div class="col-md-8">
                                    <textarea rows="3" class="form-control" placeholder="Comentario" required ng-model="user.comentario"></textarea>
                                </div>
                            </div>
                            <p style="float: right;">*Campo obligatorio</p>
                            
                            <br>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-7">
                                    <input type="submit" class="btn btn-primary" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm"
                                        onclick="alert('Petición enviada correctamente')" ng-disabled="miFormulario.$invalid">
                                    <input type="reset" class="btn btn-default" value="Limpiar">
                                </div>
                            </div>
                            
                            
                            </div>
 
    
                        </form>
                                    
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
