<!--Vista de la sección historia de la web-->

<div class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <span class="titulosPortada">La historia del Atleti Blue</span>
                        <hr class="separadorTitulos">
                        <div class="historia">
                            <p>El Atleti Blue es uno de los dos decanos de la BoroLeague que aún participan en la competición. El club se fundó allá por el año 2008
                            bajo el nombre de "Equipo Azul", vistiendo, como no, una zamarra completamente azul, y pantalón blanco. De aquel equipo formado por Alberto del Barco,
                            Carlos del Barco, Jaime Sánchez, Javier Vargas, Ángel del Pino y Alberto Solís, sólo siguen en nuestras filas Jaime y Javier, manteniendo el espíritu
                            blue de los orígenes y trasmitiéndoselo cada año a los nuevos jugadores que se unen al plantel.</p>
                            <p>El peor momento futbolístico vivido por la institución fue en la temporada 2009/2010, cuando perdió la final de la Liga que precede a la actual BoroLeague
                            ante el entonces equipo amarillo. Final que siempre será recordada por aquel gol fantasma del Equipo Azul que no subió al marcador y que pudo decantar el encuentro
                            a favor de los azules....</p>
                            <p>En la temporada 2011/2012 se cambió a la actual indumentaria, camiseta blanquiazul a rayas verticales y pantalón azul. Equipación con la que el equipo ganaría
                            al año siguiente la primera edición de la copa pesky. La final, que disputarón contra el equipo verde, claro favorito, se decidió en los penaltis después de que 
                            acabara el tiempo reglamentario con 1-1 en el marcador.</p>
                            <p>Es el mayor logro hasta ahora del equipo, ya que con en el desembarco de los grandes equipos en la BoroLeague, el humilde Atleti Blue se quedaba atrás tanto 
                            deportivamente como económicamente. Aun así, en la temporada 2012/2013 consiguieron llegar a la final del campeonato regular. Final que disputaron ante el todo
                            poderoso Mambo Marino. El equipo, que llegó a la final contra todo pronóstico, con mucho trabajo y más humildad, protagonizó una de las imágenes de mayor compañerismo
                            vista hasta ahora en la BoroLeague, cuando se hicieron la foto de equipo prepartido vistiendo sus jugadores las camisetas de cada uno de los equipos que formaban
                            parte en ese momento de la BoroLeague. La final esta vez si se la llevo el favorito, y el Atleti Blue se quedó sin el ansiado trofeo.</p>
                            <p>A dia de hoy, el equipo sigue trabajando con humildad esperando poder brindarle a su gran afición un nuevo título que les devuelva al menos un poquito de todo
                            lo que ellos dan al club.</p>
                        </div>
                    </div>
                    
                    <!--Slider-->
                    
                    <div class="row">
                        
                    <div class="col-md-2"> </div>

                        <div class="col-md-10">
                            <div class="panel">
                                <div class="panel-body">

                                     <div id="miCarrusel" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 carousel slide" data-ride="carousel">
                                      <!-- indicadores para hacer el ciclo -->
                                      <ol class="carousel-indicators">
                                        <li data-target="#miCarrusel" data-slide-to="0" class="active"></li>
                                        <li data-target="#miCarrusel" data-slide-to="1"></li>
                                        <li data-target="#miCarrusel" data-slide-to="2"></li>
                                        <li data-target="#miCarrusel" data-slide-to="3"></li>
                                        <li data-target="#miCarrusel" data-slide-to="4"></li>
                                        <li data-target="#miCarrusel" data-slide-to="5"></li>
                                        <li data-target="#miCarrusel" data-slide-to="6"></li>
                                        <li data-target="#miCarrusel" data-slide-to="7"></li>
                                        <li data-target="#miCarrusel" data-slide-to="8"></li>
                                      </ol>
            
                                      <!-- Imágenes del slide -->
                                      <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                          <img src="images/historia/2011_12.jpg">
                                        </div>
                                        <div class="item">
                                          <img src="images/historia/clasificacionfinal12_13.jpg" >
                                        </div>
                                        <div class="item">
                                          <img src="images/historia/equipacionorigin.jpg">
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/equipacionpost.jpg" >
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/final13.png" >
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/final2009_10.jpg" >
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/final2012_13.jpg" >
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/finalpesky.jpg" >
                                        </div>
                                         <div class="item">
                                          <img src="images/historia/finalpesky2.jpg" >
                                        </div>
                                      </div>
            
                                      <!-- botón retrasar y avanzar -->
                                     <div class="left carousel-control" href="#miCarrusel"
                                       role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" ></span>
                                      </div>
                                      <div class="right carousel-control" href="#miCarrusel"
                                       role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                      </div>
                                    </div>
                            </div>
                        </div>
                        <!--/col-10-->
                    </div>
                <div class="col-md-1"> </div>
            </div>
            </div>
        </div>
    </div>
</div>