<div ng-controller="MainCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div id="loginform">
                            <div id="mainlogin">
                                <form ng-submit="logueo(detalles)">
                                    <input class="inputLogin" type="text"
                                        placeholder="Usuario" value="" required ng-model="detalles.Usuario">
                                    <input class="inputLogin" type="password"
                                        placeholder="Contraseña" value="" required ng-model="detalles.Contrasena">
                                    <button class="bLogin" type="submit"><i class="fa fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
