<div ng-controller="LoginCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <div id="loginform">
                            <div id="mainlogin">
                                <form action="#">
                                    <input class="inputLogin" type="text"
                                        placeholder="Usuario" value="" required>
                                    <input class="inputLogin" type="password"
                                        placeholder="Contraseña" value="" required>
                                    <button class="bLogin" type="submit"><i class="fa fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
