<div class="container" >
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-lg-3 col-md-3">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img alt="" src="images/Vargas.png" style="width:100px;height:100px" class="img-circle">
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">26</div>
                                                <div>Mejor Jugador</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver ficha</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img alt="" src="images/Vargas.png" style="width:100px;height:100px" class="img-circle">
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">12</div>
                                                <div>Pichichi</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver ficha</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <img alt="" src="images/escudo.png" style="width:125px;height:125px" class="img-circle">
                                            </div>
                                            <div class="col-xs-6 text-center">
                                                <h1>3-3 </h1>
                                            </div>
                                            <div class="col-xs-3">
                                                <img alt="" src="images/escudo.png" style="width:125px;height:125px" class="img-circle pull-right">
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Ver crónica</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                        <div class="row">
                            <div ng-controller="NoticiasCtrl" class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-newspaper-o fa-3x"></i>
                                            <span class="titulosPortada">Últimas Noticias</span>
                                            <hr class="separadorTitulos">
                                            <div  ng-repeat="noti in noticias | limitTo:noticiasMostradas">
                                        
                                                <h3>{{noti.Titulo}}</h3>
                                                <medium style="font-family:courier,'new courier';" class="text-muted">{{noti.Fecha}}</medium>
                                                <p>{{noti.Entrada}}</p>
                                                <h4><span class="labelPrincipal"><a href="{{noti.Ruta}}" >Leer más</a></span></h4>
                                                <hr>
                                            </div>
                                           <span class="todasNoticias"> <a  href="#noticias">Más noticias >></a></span>

                                    </div>
                                <!-- /.panel -->
                                </div>
                            </div>
                            <!-- /.col-lg-8 -->
                            <div class="col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-table fa-3x"></i>
                                        <span class="titulosPortada">Clasificación</span>
                                        <hr class="separadorTitulos">

                                        <div class="tablaClasificacion table-responsive" >
                                            <table>
                                                <tr >
                                                  <td></td>
                                                   <td ng-repeat="colum in encabezado">
                                                        {{colum}}
                                                    </td>
                                                </tr>

                                                <tr  ng-repeat="filas in clasificacion">
                                                        <td >{{$index+1}}</td>
                                                        <td >{{filas.Equipo}}</td>
                                                        <td >{{filas.PT}}</td>
                                                        <td >{{filas.PJ}}</td>
                                                        <td >{{filas.PG}}</td>
                                                        <td >{{filas.PE}}</td>
                                                        <td >{{filas.PP}}</td>
                                                        <td >{{filas.GF}}</td>
                                                        <td >{{filas.GC}}</td>
                                                        <td >{{filas.DG}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- /.panel-heading -->
                                </div>
                                <!-- /.panel -->
                            </div>
                            <!-- /.col-lg-4 -->
                        </div>
                    </div>
                </div>

            </div>
            <!--/col-12-->
        </div>
    </div>
