<div ng-controller="PlantillaCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="galeria">
                            <li><img src="images/plantilla.jpg" border="0"/></li>
                            <li><img src="images/plantilla2.jpg" border="0"/></li>
                            <li><img src="images/plantilla3.jpg" border="0"/></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
