

<div ng-controller="PlantillaCtrl" class="container" >
        <div class="row">

            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body">
                        <span class="titulosPortada">Plantilla</span>
                        <hr class="separadorTitulos">
                         <div id="miCarrusel" class="col-lg-7 col-md-7 col-sm-12 col-xs-12 carousel slide " data-ride="carousel">
                          <!-- indicadores para hacer el ciclo -->
                          <ol class="carousel-indicators">
                            <li data-target="#miCarrusel" data-slide-to="0" class="active"></li>
                            <li data-target="#miCarrusel" data-slide-to="1"></li>
                            <li data-target="#miCarrusel" data-slide-to="2"></li>
                          </ol>

                          <!-- Imágenes del slide -->
                          <div class="carousel-inner" role="listbox">
                            <div class="item active">
                              <img src="images/plantilla.jpg">
                            </div>
                            <div class="item">
                              <img src="images/plantilla2.jpg" >
                            </div>
                            <div class="item">
                              <img src="images/plantilla3.jpg">
                            </div>
                          </div>

                          <!-- botón retrasar y avanzar -->
                         <div class="left carousel-control" href="#miCarrusel"
                           role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" ></span>
                          </div>
                          <div class="right carousel-control" href="#miCarrusel"
                           role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 palmares" style="text-align:center;">
                            <h1>Palmarés</h1>
                            
                            <ul>
                                <p>Subcampeón Liga [Temporada 2009/2010].</p>
                                <p>1 Copa pesky [Temporada 2011/2012].</p>
                                <p>Subcampeón Boroleague [Temporada 2012/2013]</p>
                                <p>Tercer Clasificado en liga regular.</p>
                                <p>Y seguirá creciendo, no os preocupéis.....</p>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
                            <!-- Jugador -->
                            <div  ng-repeat="jugador in jugadores">
                                <div class="col-lg-3 col-md-6">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <div class="row">
                                                    <img alt="" src={{jugador.Foto}} style="width:100%;height:100%; border-radius: 6px;">
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <p >{{jugador.Nombre}}</p>
                                            <p >{{jugador.Edad}}</p>
                                            <p >{{jugador.Numero}}</p>
                                            <p >{{jugador.Posicion}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-lg-3 col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/jaime.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Jaime Sánchez Garcia-Rowe</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/josemi.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Jose Miguel Domínguez</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/corrales.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Miguel Corrales Pecino</span><br>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/fran.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Francisco Jimenez Elena</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/gonzaloati.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Gonzalo Atienza</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/ignacioestrade.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Ignacio Estrade Mateos</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                             <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/jesustole.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Jesús Toledano</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/juanma.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Juan Manuel Garcia</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/Sinnombre.png" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Luis Rodríguez Cobos</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/Sinnombre.png" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre:Jesús Reina</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/Sinnombre.png" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Gonzalo Calbo Caballos</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/miguegon.jpg" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Miguel Ángel González</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                                <img alt="" src="images/jugadores/Sinnombre.png" style="width:100%;height:100%; border-radius: 6px;">
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">Nombre: Sergio Macías Álvarez</span><br>
                                        </div>
                                    </a>
                                </div>
                            </div>-->
                            
                        </div>
        
        
        
        
    </div>
